@media only screen and (max-width: 320px) {
    #calc, #buttonlayout {margin-left: 15%;}
}

body{
    background-image: url("footer_lodyas.png");
    font-family: 'Yrsa', serif;
    font-size: 1.5rem;
}

.container-fluid {
    height: auto;

}

#calc {
    display: flex;
    justify-content: center;
    /*padding: 2%;*/
    margin:5%;
    /*background-color: #337ab7;*/
    border-radius: 2%;
    /*box-shadow: 10px 10px 10px grey;*/

}

button {
    width: 5em;
    height: 5em;
    color: black;
    font-size: 1.1em;

}

#display {
    /*padding:0;*/
    display: flex;
    justify-content: center;
    /*margin-left: 60px;*/
    font-size: 3em;
    background-color: greenyellow;
    width: 370px;

}

#buttonlayout {
    display: block;
    justify-content: center;

}